<!DOCTYPE html>
<html>
<head>
	<title>login</title>
</head>
<body>

<form action="/login" method="POST">
	<input type="text" name="username" placeholder="enter username">
	<input type="password" name="password" placeholder="enter password">
	<button type="submit">submit</button> 
</form>

</body>
</html>